

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #60CC96;
    -fx-text-fill: white;
    -fx-padding: 0px;
}

.list-view{
	fx-background-color: transparent;
}

.list-cell:filled { 
    -fx-background-color: #513E6D;
    -fx-text-fill: white;
    -fx-padding: 0px;
}

.list-cell:filled:hover {
    -fx-background-color: #60CC96;
    -fx-text-fill: white;
    -fx-padding: 0px;
}


