/* Styling the slider track */
.jfx-slider > .track {
    -fx-background-color: #ffffff;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #343354;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #343354;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #343354;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
    -fx-fill: #ffffff;
    -fx-stroke: #ffffff;
}
/*chart area*/
.chart{
    -fx-background-color: transparent;
}


.default-color0.chart-series-line { -fx-stroke: #60CC96; }

.titled-pane > *.content
{
    -fx-background-color: transparent;
 }

.chart-plot-background {
    -fx-background-color: transparent;
}

.axis {
    -fx-border-color: transparent;
}

/*Styling the hamburger element*/
.jfx-hamburger StackPane {
	-fx-background-color: white;
}
.jfx-hamburger {
    -fx-cursor: hand;
}